.content {
    position: relative;
    margin-left: 3%;
    padding-left: 10px;
    width: 75%;
}

.colorBar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 5px;
    height: 87%;
    background: linear-gradient(to right, var(--gradient1), var(--gradient2), var(--gradient3));
}

.blue {
    color: var(--title1-color);
}

.lightBlue {
    color: var(--title2-color);
}

.description {
    color: var(--description);
}