.projects {
    margin-right: 5%;
    margin-left: 5%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.projects ul {
    padding: 0;
    align-content: start;
}

li {
    padding-left: 8px;
    list-style-type: none;
}

li a {
    color: var(--description);
}

.lighBlue {
    color: var(----title2-color); 
}