.outerContainer {
  border: 15px solid #0206f5;
}

.mainContainer {  
  background-color: var(--background-color);
  transition: background-color 1500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 940;
  height: 380px;
  overflow-y: auto;
}

.innerContainer {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  height: 60%;
}

img {
  transition: transform 0.7s ease-in-out;  
}

img:hover {
  transform: scale(1.1, 1.1) translate(0.1em, 0.1em);
  transition: transform 0.7s ease-in-out;
}

a {
  transition: transform 0.7s ease-in-out;
}

a:hover {
  transform: scaleX(1.1) translate(0, 0.1em);
  transition: transform 0.7s ease-in-out;
}
