.gradientBorder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 15px solid #0206f5;
  padding: 5px;
  box-sizing: border-box;
  height: 420px;
  overflow-y: auto;
}

.mainContainer {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  height: 60%;
}

img {
  transition: transform 0.7s ease-in-out;  
}

img:hover {
  transform: scale(1.1, 1.1) translate(0.1em, 0.1em);
  transition: transform 0.7s ease-in-out;
}

a {
  transition: transform 0.7s ease-in-out;
}

a:hover {
  transform: scaleX(1.1) translate(0, 0.1em);
  transition: transform 0.7s ease-in-out;
}