* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --title1-color: #2F94BC;
  --title2-color: #9ADAE5;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  max-height: 100vh;
  margin: 0;
  padding: 0; 
  font-style: oblique;
  /* color-scheme: light dark; */
  color: rgba(167, 167, 167, 0.87); 
  /* background-color: #000000; */ 
}

body {   
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Labrada', cursive;
  margin: 3rem;
  min-width: 320px;
  max-height: 100vh; /* fixed vertical scrollbar issue */
  background-color: var(--background-color);
}