* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-style: oblique;
  color-scheme: light dark;
  color: rgba(167, 167, 167, 0.87); 
  /* background-color: #000000; */
}

body {
  font-family: 'Labrada', cursive;
  margin: 3rem;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh; 
}